@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

.sidemenu{
    background: linear-gradient(180deg, #000000 14%, #181818 21%);
    height: 100vh;
    width: 130px;
    display: inline-block;
    box-shadow: -1px 0 7px 1px #000000;
}

.logo { 
    width: 45%;
}

h5 {
    font-family: 'Quicksand', sans-serif; 
}

.yazicik{
    font-size: 11px;
    color: rgb(182, 135, 49);
}